asttokens
backcall
click
colorama
comm
debugpy
decorator
exceptiongroup
executing
fastapi
h11
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
platformdirs
prompt-toolkit
psutil
pure-eval
pydantic
Pygments
python-dateutil
python-multipart
pytz
pyzmq
scikit-learn
sklearn
scipy
six
sniffio
stack-data
starlette
threadpoolctl
tornado
traitlets
typing
typing_extensions
tzdata
uvicorn
wcwidth
zipp
